[Unit]
Description=delete items in trash over 30 days old

[Timer]
OnCalendar=daily
Persistent=true
AccuracySec=3hours

[Install]
WantedBy=multi-user.target
