[Unit]
Description=scans files and directories for malware via ClamAV
Requires=freshclam.service
After=freshclam.service

[Service]
ExecStartPre=rm -rf /home/USERNAME/clamscan
ExecStart=clamscan -ril /home/USERNAME/clamscan --exclude-dir=/.snapshots / 2>/dev/null
