[Unit]
Description=scans files and directories for malware via ClamAV
Requires=freshclam.service
After=freshclam.service

[Service]
ExecStart=clamscan.sh
