[Unit]
Description=takes monthly btrfs snapshots of root and home directories
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=btrfs-snapshots-monthly.sh
