[Unit]
Description=takes hourly btrfs snapshots of root and home directories
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=btrfs-snapshots-hourly.sh
