[Unit]
Description=takes weekly btrfs snapshots of root and home directories

[Timer]
OnCalendar=weekly
Persistent=true
AccuracySec=3hours

[Install]
WantedBy=multi-user.target
