[Unit]
Description=makes computer suspend-to-ram rather than suspend-to-idle by editing the file /sys/power/mem_sleep
Requires=multi-user.target
After=multi-user.target

[Service]
ExecStart=echo deep > /sys/power/mem_sleep
