/* default file located at /etc/xdg/waybar/style.css */


/* values are in the order: top, right, bottom, left.
 * additionally, values can be combined: 10px 20px means top and bottom are 10px while right and left are 20px.
 * just 1 value means all values are the same */ 


* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: Hack, FontAwesome;
	font-weight: normal;
	font-size: 18px;
}


window#waybar {
	background-color: rgba(0, 0, 0, 0.0);
}


#workspaces {
	padding: 0px 15px;
	margin: 5px 0px 0px 15px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
}


#workspaces button {
	padding: 0px 5px;
	margin: 0px;
	background-color: rgba(0, 0, 0, 0);
	color: #ffffff;
}


#workspaces button.focused {
	background-color: rgba(0, 0, 0, 0);
	color: #11b867;
}


/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	padding: 0px 5px;
	margin: 0px;
	background: rgba(0, 0, 0, 0);
	border-color: rgba(0, 0, 0, 0);
}


#workspaces button.urgent {
	background-color: rgba(0, 0, 0, 0.9);
	color: #ff4444;
}


#clock {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}


#battery {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
    	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}


#battery.charging, #battery.plugged {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
    	background-color: rgba(0, 0, 0, 0.9);
	color: #11b867;	
}


#battery.warning:not(.charging) {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
    	background-color: rgba(0, 0, 0, 0.9);
	color: #dddd33;
}


#battery.critical:not(.charging) {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
    	background-color: rgba(0, 0, 0, 0.9);
	color: #ff4444;
}


#cpu {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
    	background-color: rgba(0, 0, 0, 0.9);
    	color: #ffffff;
}


#disk {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	background-color: #964B00;
	color: #ffffff;
}


#memory {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}


#backlight {
	padding: 0 10px;
	background-color: #90b1b1;
	color: #ffffff;
}


#network {
	padding: 0 10px;
	background-color: #2980b9;
	color: #ffffff;
}


#network.disconnected {
	padding: 0 10px;
	background-color: #f53c3c;
	color: #ffffff;
}


#pulseaudio {
	padding: 0px 15px;
	margin: 5px 0px 0px 0px;
	border-radius: 10px 0px 0px 10px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}


#pulseaudio.muted {
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 10px;
	background-color: #999999;
	color: #000000;
}


#custom-media {
    	background-color: #66cc99;
    	color: #2a5c45;
	min-width: 100px;
}


#custom-media.custom-spotify {
	background-color: #66cc99;
}


#custom-media.custom-vlc {
	background-color: #ffa000;
}


#temperature {
	padding: 0px 15px;
	margin: 5px 15px 0px 0px;
	border-radius: 0px 10px 10px 0px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #11b867;
}


#temperature.critical {
	padding: 0px 15px;
	margin: 5px 15px 0px 0px;
	border-radius: 0px 10px 10px 0px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ff4444;
}


#tray {
	padding: 0px 15px;
	margin: 5px 5px 0px 0px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.9);
	color: #ffffff;
}


#tray > .passive {
	-gtk-icon-effect: dim;
}


#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}


#idle_inhibitor {
	background-color: #2d3436;
}


#idle_inhibitor.activated {
	background-color: #ecf0f1;
	color: #2d3436;
}


#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}


#mpd.disconnected {
	background-color: #f53c3c;
}


#mpd.stopped {
	background-color: #90b1b1;
}


#mpd.paused {
	background-color: #51a37a;
}


#language {
	background: #00b093;
	color: #740864;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}


#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0px;
	margin: 5px;
	min-width: 16px;
}


#keyboard-state > label {
	padding: 0 5px;
}


#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}
